<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>469727035724-ohvcq11f86v39udoauv7nncvq32prlo4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469727035724-ohvcq11f86v39udoauv7nncvq32prlo4</string>
	<key>API_KEY</key>
	<string>AIzaSyC7xJT06qfjqIWCt7qtGFo4fz2qtEsIZ0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>469727035724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.spur</string>
	<key>PROJECT_ID</key>
	<string>spur-app-a114e</string>
	<key>STORAGE_BUCKET</key>
	<string>spur-app-a114e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469727035724:ios:780d6ff96c6292b2334fe9</string>
</dict>
</plist>